body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 300px;
  width: 500px;
  background-color: red;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

h1 {
  margin-top: 40px;
  font-size: 50px;
}

#task {
  width: 90%;
  height: 43px;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
}

input::placeholder {
  font-size: 20px;
  padding-left: 10px;
}

#addBtn {
  width: 91.5%;
  height: 45px;
  margin-top: 20px;
  background-color: green;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

li {
  background-color: rgb(205, 227, 227);
  width: 400px;
  height: 40px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
}

li span {
  text-align: left;
}

li div {
  display: flex;
  gap: 5px;
}

li button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
